*{
    margin: 0;
    /* Correction : Attention à bien mettre les "" et tous les éléments suivants dans la font-family.
    Ex : font-family: "DM Sans", sans-serif; pour assurer que le texte s'affichera en minimum en sans-serif.*/
    font-family: DM sans;
    color: white;
}

header{
    background-image: url(assets/image-header.png);
    background-size: cover;
    background-position: center;
}
 
.entete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 0 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu a{
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.titre{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.titre p{
    font-size: 28px;
    font-weight: 400;
    font-size: 28px;
}

.titre h1{
    font-size: 53px;
    font-weight: 500;
}

.rap{
    font-size: 160px;
    font-weight: 400;
    display: block;
}

.plus{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.para{
    font-size: 28px;
    font-weight: bold;
}

/* Correction : plusieurs éléments sont en commun dans les deux boutons. 
Tu peux donc créer une classe bouton qui contiendra les propriétés de style qui ont les mêmes valeurs.
Les classes différentes contiendront les propriétés qui ont des valeurs différentes. 
Tu appliqueras ensuite la classe "button" et la classe "billet" au bouton billeterie
et la classe "button" et la classe "info" à plus d'info.*/
.billet{
    color: white;
    background-color: black;
    padding: 5px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.info{
    color: black;
    background-color: white;
    padding: 5px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

/* Correction : Plutôt que d'utiliser un padding, 
comment est ce qu'on peut s'assurer que le texte prendra exactement la bonne partie de l'écran et sera centré ? */
.blabla{
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
}

.blabla h2{
    font-size: 48px;
    font-weight: normal;
}

/* Correction : attention le text n'est pas justifié à gauche et à droite sur la maquette.
Il est justifié uniquement à gauche. */
.blabla p{
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
}

.solo img{
    width: 100%;
    height: auto;
}

.programme{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Correction : à nouveau on préférera utiliser un container plutôt que le padding. */
    padding: 50px;
    gap: 25px;
}

.programme h2{
    font-size: 18px;
    font-weight: bold;
}

.programme ul{
    font-size: 28px;
    font-weight: normal;
    list-style: none;
    padding-left: 0;
    /* Correction : Pourquoi une margin de 400px à droite ? */
    margin-right: 400px;
}

/* Correction : Tu peux mettre directement le border-top sur les li et le border-bottom, uniquement sur .theo.
Il faudra simplement retoucher tes width précédentes pour être sûr qu'elle prenne bien tout l'espace demandé. */
ul li{
    position: relative;
    padding: 10px 0;
    width: 100%; 
    border-top: 1px dashed white;
}

/* Correction : ces deux parties sont donc trop lourdes, complexes et source d'erreurs pour le besoin */
ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250%; 
    border-top: 1px dashed white;
}

.theo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250%;
    border-bottom: 1px dashed white;
    }
    
/* Correction : Ce bouton ressemble beaucoup à un autre bouton déjà créé. 
Pourquoi créer une nouvelle classe ? */
.billeterie{
    color: black;
    background-color: white;
    padding: 5px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.partenaires{
    background-image: url(assets/banniere-logo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 200px;
}

.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.contact div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact span{
    background-color: goldenrod;
    color: black;
    font-weight: bold;
}

/* Correction : ce bouton aussi ressemble beaucou à un bouton déjà créé dans la page. */
.contact button{
    font-size: 18px;
    font-style: normal;
    background-color: white;
    padding: 5px 25px;
    border-radius: 4px;
    width: fit-content;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40%;
}

/* Correction : attention à aussi modifier le background color pour être sûr de garder les contrastes. */
.contact input,
.contact textarea{
    background-color: lightgray;
}

.foot{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.foot a,
.foot p{
    font-size: 24px;
    font-style: normal;
}

.foot label{
    display: block;
    font-size: 24px;
    font-style: normal;
}

.news{
    color: goldenrod;
}

.foot input{
    font-size: 18px;
    font-style: normal;
}

.foot button{
    font-size: 18px;
    font-style: normal;
    background-color: black;
    border-radius: 0 5px 5px 0;
    border: 1px solid white;
}

.mentions{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.mentions p{
    color: black;
    font-size: 14px;
    font-style: normal;
}

.mentions a{
    color: black;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}



